<%- include('../partials/head') %>
<%- include('../partials/menu') %>

<main>
  <div class="container">
    <h1>Explore Page</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="text-center" style="width: 10%">ID</th>
          <th scope="col" class="text-center" style="width: 60%">Name</th>
          <th scope="col" class="text-center" style="width: 30%">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="text-center">1</th>
          <td class="text-center">John Doe</td>
          <td class="text-center">john@example.com</td>
        </tr>
        <tr>
          <th scope="row" class="text-center">2</th>
          <td class="text-center">Jane Doe</td>
          <td class="text-center">jane@example.com</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
<%- include ('../partials/footer') %>